@charset "utf-8";

/*==================================
Navigation Bar
==================================== */
body {margin: 0;}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #404040;
}

ul.topnav li {float: left;}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 150px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li a.active1 {background-color: #ff0000;}
ul.topnav li a.active2 {background-color: #0033cc;}
ul.topnav li a.active3 {background-color: #009933;}
ul.topnav li a.active4 {background-color: #cc9900;}

@media screen and (max-width: 600px){
    ul.topnav li.right,
    ul.topnav li {float: none;}
}


/**
Header Image
**/
body {
  background-color: #bcb2b1;
}

.headerImages {
 /* Full height */
 height: 675px;
 width: 100%;
 /* Center and scale the image nicely */
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
}

.headerBottom {
  width: 100%;
  height: 20px;
}

.logo{
width: 38px;
height: auto;
}

h1, p{
text-align: center;
}

p{
  font-size: 115%;
  margin-left: 15%;
  margin-right: 15%;
  align: center;
}

table{
align: center;
width: 60%;
margin-left: 20%;
margin-right: 20%;
}

.aboutHeader{
font-size: 135%;
font-weight: bold;
}

.aboutBody{
font-size: 115%;
padding-top: 2%;
}

.topTable{
padding-top: 10%;
}

.bottomTable{
  padding-bottom: 10%;
}

.textBox{
background-color:#cccccc;
padding:1%;
margin-left: 20%;
margin-right: 20%;
}

.titleBox{
  background-color:#cccccc;
  padding:2%;
  margin-left: 30%;
  margin-right: 30%;
}
